hr{
    opacity: 0;
}

.btn-primary{
    width: 100%;
    border-radius: 1.5em;
}

.btn-dark{
    font-size: 0.75rem;
    padding: 0.4em 0.5em; 
}


.container{
    margin-top: 48px;
}

.col-7 p{
    margin: 2px inherit;
}


.feed_text{
    font-size: 0.75rem;
    font-family: inherit;
    white-space:pre-line;
}

.menu_buttons:hover{
    background-color: lightgray;
}

.link-primary{
    color: blue;
    text-decoration: none;
    font-size: 0.75rem;
}

.medium{
    font-size: 1rem;
    font-family: inherit;
    margin: 0 0.25em;
    display: inline-block;
}

.photos{
    max-width: 52px;
    height: 48px;
    border-radius: 24px;
}

.prikker{
    float:right;
    height: 2em;
}


.row{
    margin: 8px 0;
}


.slim{
    font-size: 0.75rem;
    font-family: inherit;
    margin: 0 0.25em;
}

.squirell, .menu_buttons{
    border-radius: 24px;
    border-color: transparent;
    background-color: transparent;
    width: 100%;

}

.trends, .whoFollow{
    background-color: rgba(126, 126, 126, 0.205);
    border-radius: 24px;
    padding: 5px;
    width: 100%;
    margin: 1em auto;

}

.whoFollow{
    padding: 2px;

}

#feed_filler{
    margin-right: 3em;
}

#feed_tweet{
    width: 100%;
    font-family: inherit;
}

#feeden .col-1{
    margin-left: 0.5em;
}

#menu_MobButton{
    border-radius: 8px;
    width: 100%;
    display: none;
}



#searchbar{
    border-radius: 24px;
    background-color: rgba(211, 211, 211, 0.247);
}


#what{
    border-radius: 24px;
}


@media screen and (max-width: 768px) {
   #right_side{
       display:none;
   }

   #menu .col-9, #menu_tweet{
    display:none;
   }


   #feeden{
       width: 85%;
   }

   #feeden .col-9{
       width: 85%;
   }

   #feeden .col-3{
       width: 15%;
   }

   #feed_filler{
    margin-right: 0;
}
   

   #menu{
       width: 15%;
   }

   #menu_MobButton{
    display: block;
}


   .menu_buttons, .squirell{
       width: 100%;
       border-radius: 8px;
       
   }

  }

  @media screen and (max-width: 992px){
    #right_side{
        display:none;
    }

    #feeden .col-9{
        width: 85%;
    }
 
    #feeden .col-3{
        width: 15%;
    }
   
    #feeden{
        width: 75%;
    }


  }

